@model IEnumerable<Entity_Layer.Create_NewSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MentorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPerHour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionHappenedID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionHappenedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionJs_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionJs_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionJs_Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionMentor_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionMentor_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOShowSessionMentor_Reason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionHappenedID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionHappenedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionJs_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionJs_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionJs_Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionMentor_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionMentor_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOShowSessionMentor_Reason)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PrimaryID }) |
                @Html.ActionLink("Details", "Details", new { id= item.PrimaryID }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
